table{
    width: 700px!important;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
}
td, th{
    vertical-align: middle!important;
}
.sec-footer{
    height: 8rem;
    padding-top: 1rem;
    margin-top: 4rem;
}
.table-container{
    overflow-x: auto;
}
.disabled{
    display: none;
}
.menu{
    width: 700px;
    margin-left: auto!important;
    margin-right: auto!important;
}
.info{
    width: 5%;
    display: inline-block;
    vertical-align: middle;
}
.hint-text{
    width: 92%;
}
.box{
    display: inline-block;
    vertical-align: middle;
}
.table-small{
    max-width: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
}
@media only screen and (max-width: 600px){
    table{
        width: auto;
    }
    .menu{
        width: auto;
    }
    .info{
        width: 7%;
        display: inline-block;
        vertical-align: middle;
    }
    .hint-text{
        width: 87%;
    }
}